html {
    background-color: rgb(26, 25, 25);
    color: wheat;
}


.container {
    background-color: green;
}

button {
    background: #333;
    padding: 1rem;
    font-size: 2rem;
}

.off {
    background:red;
    border-radius: 1rem;
}